body {
  font-family: Arial, sans-serif;
  background-color: #dcdcdc32;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.bg-gray-900 {
  background-color: #f9fafb;
}

.text-gray-200 {
  color: #555;
}

.bg-black {
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 0;
}

.bg-gray-800 {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.bg-gray-700 {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.hover-text-gray-400:hover {
  color: #333;
}

.text-2xl {
  font-size: 24px;
}

.text-3xl {
  font-size: 32px;
}

.text-gray-400 {
  color: #888;
}

.button {
  display: inline-block;
  background-color: #ffc4c4; /* You can adjust the color */
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #d5d5d5; /* Darker shade for hover */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .buttons {
  display: flex;
  gap: 10px;  /* this will give space between buttons */
}

.rank {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 3px;
}

.container {
  width: 80%; /* Adjust width as per preference */
  margin: 20px auto; /* Centers the container */
  background-color: #fff; /* White background */
  border: 1px solid #e5e5e5; /* Border for the container */
  border-radius: 8px; /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px; /* Padding inside the container */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.results-count {
  flex: 1;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Gap between the input and the button */
}

.email-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.request-button {
  background-color: #ff9d9d; /* Orange color */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.request-button:hover {
  background-color: #cecece; /* Darker orange on hover */
}

.slogan{
  color: #35414B;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px; /* 112.5% */
  position: relative; /* This ensures the ellipse positions relative to this container */
  /* Other styles remain unchanged */
}

.explain{
  color: #4E5A65;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between items */
  justify-content: space-between;
}

.listItem {
  flex: 1 1 calc(33% - 20px); /* Three items per row minus the gap. Adjust as needed. */
  background-color: #f7f9fc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  
  margin: 10px 0; /* Add vertical margin. Adjust as per your preference */
}

.listItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.listLink {
  text-decoration: none;  /* This should ensure that the titles don't have an underline by default */
  color: #333;
  transition: color 0.2s, text-decoration 0.2s; /* Add transition for text-decoration */
  font-size: 1.2em;  /* Increased font size a bit */
}

.listLink:hover {
  color: #f63939; /* Adjust color for hover effect */
  text-decoration: underline;  /* Underline will appear on hover */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px 0 0 20px;
  outline: none;
  flex: 1;
}

.search-btn {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #a8a8a89c;
  color: white;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #f63939;
}
